<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">India’s Leading Digital Studio</h1>
    <p class="lead">
        Welcome to FameFrame Digital Studio! 
    </p>
    <p class="lead">
        We are a one-stop shop committed to providing world-class services
    </p>
    <p class="lead">
        <a class="btn btn-dark btn-lg" href="#" role="button">Register</a>
    </p>
</div>
<div class="section-empty">
  <div class="container container-fluid content">
      <div class="row">
          <div class="col">
            <h2>Our Key Milestones</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-md-2">
              <div class="icon-box icon-box-top-bottom">
                  <div class="icon-box-cell">
                      <b><label class="counter text-l" data-speed="2000" data-to="985" data-trigger="null">0</label></b>
                      <p class="text-s">VIDEO SHOOTS</p>
                  </div>
              </div>
          </div>
          <div class="col-md-2">
            <div class="icon-box icon-box-top-bottom">
                <div class="icon-box-cell">
                    <b><label class="counter text-l" data-speed="2000" data-to="985" data-trigger="null">0</label></b>
                    <p class="text-s">PHOTO SHOOTS</p>
                </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="icon-box icon-box-top-bottom">
                <div class="icon-box-cell">
                    <b><label class="counter text-l" data-speed="2000" data-to="985" data-trigger="null">0</label></b>
                    <p class="text-s">HAPPY CLIENTS</p>
                </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="icon-box icon-box-top-bottom">
                <div class="icon-box-cell">
                    <b><label class="counter text-l" data-speed="2000" data-to="985" data-trigger="null">0</label></b>
                    <p class="text-s">PHOTO ALBUMS</p>
                </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="icon-box icon-box-top-bottom">
                <div class="icon-box-cell">
                    <b><label class="counter text-l" data-speed="2000" data-to="985" data-trigger="null">0</label></b>
                    <p class="text-s">VIDEO ALBUMS</p>
                </div>
            </div>
          </div>
          <div class="col-md-2">
              <div class="icon-box icon-box-top-bottom">
                  <div class="icon-box-cell">
                      <b><label class="counter text-l" data-speed="10000" data-to="652" data-trigger="null">0</label></b>
                      <p class="text-s">OTHER PROJECTS</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="card-deck">
    <div class="card">
      <img src="assets/images/h1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/h1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/h1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>